#daftar-siswa {
    background-color: gainsboro;
}
/* #daftar-siswa > p:first-child{
    background-color: #60A5fA;
}
#daftar-siswa > p:last-child{
    background-color: #F87171;
} */
#daftar-siswa > p:hover{
    background-color: #E5E7EB;
}
p{
    font-weight: 400;
    font-family: sans-serif;
    margin: 0;
    color: #F3F4F6;
    text-transform: capitalize;
    padding: 10px 15px;
}
p:hover{
    color: #111827;
    background-color: #E5E7EB;
}